header.nav-header {
  a {
    text-decoration: none;
    color: white;
  }
  .logo {
    font-size: 18px;
  }
  .navbar {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px;
    background-color: var(--mat-sys-primary);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1999;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 24px;
  }

  .navbar-option {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
